 <div class="col-2">
  <div class="left-column">
    <ul class="list-group list-group-flush">
      <li class="list-group-item content mb-3 mt-2">
        <%= link_to user_path(current_user) do %>
          <span><%= gravatar_for(current_user, size:20) %></span>
          <span><%= name(current_user) %></span>
        <% end %>
      </li>
      <li class="list-group-item content active">
        <%= link_to posts_path do %>
          <span><%= image_tag("newsfeed.png", :alt => "NewsFeed", :width => '20') %></span> 
          <span>News Feed</span>  
        <% end %>       
      </li>
      <li class="list-group-item subtitle mt-1">
        Explore   
      </li>
      <li class="list-group-item content">
        <%= link_to users_path do %>
          <span><%= image_tag("find-friend.png", :alt => "Find Friend", :width => '20') %></span> 
          <span>Find Friends</span>    
        <% end %>     
      </li>
      <li class="list-group-item content">
        <%= link_to friendships_path do %>
          <span><%= image_tag("friend-list.png", :alt => "Friend List", :width => '20') %></span> 
          <span>Friend List</span>    
        <% end %>     
      </li>
      <li class="list-group-item content">
        <%= link_to received_request_path do %>
          <span><%= image_tag("group.png", :alt => "Friend Requests", :width => '20') %></span> 
          <span>Friend Requests</span>    
        <% end %>     
      </li>
      <li class="list-group-item content">
        <%= link_to sent_request_path do %>
          <span><%= image_tag("memories.png", :alt => "Sent Requests", :width => '20') %></span> 
          <span>Sent Requests</span>    
        <% end %>     
      </li>
    </ul>
  </div>
</div>