 <div class="col-2">
  <div class="left-column">
    <ul class="list-group list-group-flush">
      <li class="list-group-item content mb-3 mt-2">
        <%= link_to user_path(current_user) do %>
          <span><%= user_image(current_user, 20) %></span>
          <span><%= name(current_user) %></span>
        <% end %>
      </li>

      <%= nav_link(posts_path, "News Feed", "newsfeed.png") %>

      <li class="list-group-item subtitle mt-1">
        Explore   
      </li>

      <%= nav_link(users_path, "Find Friends", "find-friend.png") %>

      <%= nav_link(friendships_path, "Friend List", "friend-list.png") %>

      <%= nav_link(received_request_path, "Friend Requests", "group.png") %>

      <%= nav_link(sent_request_path, "Sent Requests", "memories.png") %>
      
      <!--
      <li class="list-group-item content">
        <%= link_to sent_request_path do %>
          <span><%= image_tag("memories.png", :alt => "Sent Requests", :width => '20') %></span> 
          <span>Sent Requests</span>    
        <% end %>     
      </li>
      -->
    </ul>
  </div>
</div>