<div class="container-fluid newsfeed py-2">
  <div class="row">
    <%= render 'shared/sidebar' %>
    <div class="col-6">
      <div class="center-column">
        <div class="card">
          <h5 class="card-header">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="true">Create Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="false">Multimedia</a>
              </li>
            </ul>
          </h5>
          <%= form_for(@post, multipart: true) do |f| %>
            <div class="card-body">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="post-tab">
                  <div class="text-area-content">
                    <%= content_tag :div, user_image(current_user, 40), class: "text-area-image" %>
                    <%= f.text_area :body, class: "form-control", placeholder: "What's on your mind, #{current_user.firstname}?" %>
                  </div>
                </div>
                <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
                  <div class="text-area-content">
                    <%= content_tag :div, user_image(current_user, 40), class: "text-area-image" %>
                    <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="6">
                      <%= f.file_field :post_image, multiple: true, direct_upload: true, data: { target: 'dropzone.input' } %>
                      <div class="dropzone-msg dz-message needsclick text-gray-600">
                        <span class="dropzone-msg-title">Drag here to upload or click here to browse</span><br>
                        <span class="dropzone-msg-desc text-sm">2 MB file size maximum. Allowed file types png, jpg.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <%= f.submit "Post", class: "btn btn-primary text-post-button" %>
            </div>
          <% end %>
        </div>
        <% if user_posts[0] %>
          <% @posts.each do |post| %>
            <div class="card post-card my-2">
              <div class="card-body">
                <div class="post-creator d-flex justify-content-between mb-3">
                  <div class="post-creator-details d-flex">
                    <span><%= link_to user_image(post.user, 35), user_path(post.user), class: "post-image" %></span>
                    <div class="post-creator-info">
                      <p class="card-subtitle "><%= link_to name(post.user), user_path(post.user) %></p>
                      <p class="card-subtitle"><%= distance_of_time_in_words(Time.now, post.created_at) %> ago</p>
                    </div>
                  </div>
                  <div class="edit-delete-post d-flex">
                    <% if current_user.posts.include?(post) %>
                      <%= button_tag fa_icon("edit", class: 'text-info'), class: "edit-delete-btn", "data-toggle": "modal", "data-target": "#exampleModal" %>

                      <%= form_for(user_post(post.id), html: { method: :delete}) do |f| %>
                        <%= f.button fa_icon("trash-alt", class: 'text-danger'), class: "edit-delete-btn", method: :delete, data: {confirm: 'Are you sure?'} %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="post-contents">
                 <% if post.post_image.attached? %>
                    <div class="post-content-images">
                      <% post.post_image.each do |img|  %>
                        <%= post.post_image.count == 1 ? image_tag(img, class:'one-image') : image_tag(img, class:'multiple-image') %>
                      <% end %>
                    </div>
                  <% end %>
                  <%= content_tag :p, post.body, class: "card-text" %>
                </div>
                <div class="liked-users">
                  <ul class="navbar-nav d-flex align-items-center flex-row">

                    <%= render partial: 'like_stats', locals: {post: post} %>

                    <li class="nav-item ml-auto">
                      <span class="nav-link" title="Me">1 shares</span>
                    </li>
                    <li class="nav-item ml-2">
                      <span class="nav-link" title="me"><%= pluralize(post.liked_by_users.count, 'like')%></span>
                    </li>
                  </ul>
                </div>
                <div class="like-icon my-2">
                  <ul class="navbar-nav d-flex align-items-center justify-content-around flex-row">
                    <li class="nav-item" id="like-rendered-form">
                      
                    <%= render partial: 'like_form', locals: {post: post} %>

                    </li>
                    <li class="nav-item ml-2">
                      <span class="nav-link">
                        <button class="like-button">
                          <%= fa_icon 'comment-alt', type: :regular, class: 'post-icon' %> Comment
                        </button>
                      </span>
                    </li>
                    <li class="nav-item">
                      <span class="nav-link">
                        <button class="like-button">
                          <%= fa_icon "share", class: 'post-icon' %> Share
                        </button>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="show-comments">
                <ul class="list-group list-group-flush">
                    <%= content_tag :li, "View #{pluralize(post.comments.count, 'comment')}", class: 'text-primary' if post.comments.count.positive? %>
                  <% post.comments.each do |comment| %>
                    <li class="list-group-item">
                      <div class="post-creator">
                        <span><%= link_to user_image(comment.user, 35), user_path(comment.user), class: "comment-image" %></span>
                        <div class="post-creator-info">
                          <p class="card-subtitle ">
                            <%= link_to name(comment.user), user_path(comment.user) %>
                            <%= comment.body %>
                          </p>
                          <p class="card-subtitle">
                          <span>Like</span>
                          <span>Reply</span>
                          <span><%= distance_of_time_in_words(Time.now, comment.created_at) %> ago</span>
                          </p>
                        </div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="comment-section d-flex px-3 pb-3">
                <div class='comment-image'>
                  <span><%= user_image(current_user, 35) %></span>
                </div>
                <div class="comment-form">
                  <%= form_for(@comment) do |f| %>
                    <%= f.hidden_field :post_id, value: post.id %>
                    <%= f.text_area :body, class: "form-control comment-textarea", placeholder: "Write a comment ..." %>
                    <div class="comment-button mt-1">
                      <%= f.submit "Comment", class: "btn btn-primary text-comment-button" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

          <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header card-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <% if user_posts[1] %>
                    <%= form_for(user_post(post.id)) do |f| %>
                      <div class="modal-body">
                        <div class="text-area-content">
                          <%= content_tag :div, user_image(current_user, 40), class: "text-area-image" %>
                          <%= f.text_area :body, class: "form-control modal-text" %>
                        </div>   
                      </div>
                      <div class="modal-footer">
                        <%= f.submit "Save Changes", class: "btn btn-sm btn-primary modal-btn"  %>
                        <button type="button" class="btn btn-sm btn-secondary modal-btn" data-dismiss="modal">Close</button>                       
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

          <% end %>
        <% else %>
          <div class="card text-center py-3 my-3">
            <h2>You have no post.</h2>
            
            <p> Start a post by writing your thought. </p>

          </div>
        <% end %>
      </div>
    </div>
    <div class="col">
       <div class="right-column">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <span>Friends List</span>
            <span><%= link_to 'See All', friendships_path if user_friend(current_user)[0] %></span>
          </div>
          <ul class="list-group list-group-flush">
            <% if user_friend(current_user)[0] %>
              <% current_user.friends.each do |friend| %>
                <li class="list-group-item">
                  <div class="post-creator">
                  <span><%= link_to user_image(friend, 40), user_path(friend), class: "comment-image" %></span>
                  <div class="post-creator-info">
                    <p class="card-subtitle ">
                      <%= link_to friend.name, user_path(friend) %>
                    </p>
                    <%= form_for(active_friendship(friend.id), html: { method: :delete }) do |f| %>
                      <%= hidden_field_tag :active_friend_id, friend.id %>
                      <%= f.button fa_icon("user-slash", text: "Unfriend"), class: "btn btn-sm btn-danger friend-btn", method: :delete, data: {confirm: 'Are you sure?'} %>
                    <% end %>
                    <span>
                      <small>
                        <%= mutual_friends(current_user, friend) %>
                      </small>
                    </span>
                  </div>
                </div>
                </li>
              <% end %>
            <% else %>
              <li class="list-group-item">
                You have no friend at the moment! Make new friends
                <%= link_to 'here', users_path %> 
              </li>
            <% end %>
          </ul>
        </div>
        <% if all_user_non_friend[0] %>
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <span>People you may know</span>
              <span><%= link_to 'See All', users_path if all_user_non_friend[0] %></span>
            </div>
            <ul class="list-group list-group-flush">
              <% @users.each do |user| %>
                <li class="list-group-item">
                  <div class="post-creator">
                  <span><%= link_to user_image(user, 40), user_path(user), class: "comment-image" %></span>
                    <div class="post-creator-info">
                      <p class="card-subtitle ">
                        <%= link_to user.name, user_path(user) %>
                      </p>
                      <%= form_for(@active_friendship) do |f| %>
                        <%= hidden_field_tag :passive_friend_id, user.id %> 
                        <%= f.button fa_icon("user-plus", text: "Add Friend"), class: "btn btn-sm btn-blue friend-btn" %>
                      <% end %>
                       <span>
                        <small>
                          <%= mutual_friends(current_user, user) %>
                        </small>
                      </span>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>